/* any custom styles */
main {
	max-width: 640px;
	margin: 0 auto;
	padding: 20px;
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}

.float-right {
	float: right;
}

.font-bold {
	font-weight: bold;
}

.bottom-buttons {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 40px;
}
