/* any custom styles */
main {
	max-width: 640px;
	margin: 0 auto;
	padding: 20px;
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-60 {
	margin-bottom: 60px;
}

.float-right {
	float: right;
}

.font-bold {
	font-weight: bold;
}

.bottom-buttons {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 30px 40px 40px 40px;
	background: white;
}

.buttons {
	width: 100%;
	padding: 30px 20px 20px 20px;
}

#myChart {
	margin-bottom: 20px;
	width: 250px !important;
	height: 250px !important;
	text-align: center;
}

.bottom-buttons.icons {
	padding-left: 30%;
}

.bottom-buttons.icons button {
	background-color: #fff;
}

.bottom-buttons.icons button.selected {
	border-bottom: 2px solid;
	color: #3498db;
}

.bottom-buttons.icons button:hover {
	border-bottom: 2px solid;
}

.bottom-buttons.icons .material-icons {
	font-size: 30px;
}

.no-border {
	border: none;
}

.navbar {
	padding: 0.5rem 1rem;
}
